.askhem .npc .note .editor {
    padding: 0;
}

.askhem .npc .note .editor-content {
    padding: 0 5px;
}

.askhem .npc .note .editor,
.askhem .npc .note .editor-content {
    width: 100%;
    height: 100%;
    
    background-color: #e7e7e7;
}