.askhem .npc .critical-injuries .scrollable {
    overflow-y: auto;
    height: fit-content;
    max-height: 150px;
}

.askhem .npc .critical-injuries .critical-injury.item:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.askhem .npc .critical-injuries .critical-injury.item:nth-child(even) {
    background-color: #d6c9c2;
}

.askhem .npc .critical-injuries .critical-injury.item:nth-child(odd) {
    background-color: #ebe4e0;
}

.askhem .npc .critical-injuries .critical-injury .icon {
    flex-basis: 9%;
}

.askhem .npc .critical-injuries .critical-injury img.icon {
    border: 0;
}

.askhem .npc .critical-injuries .critical-injury .name {
    flex-basis: 20%;
}

.askhem .npc .critical-injuries .critical-injury .fatal {
    flex-basis: 10%;
}

.askhem .npc .critical-injuries .critical-injury .time-limit {
    flex-basis: 15%;
}

.askhem .npc .critical-injuries .critical-injury .effect {
    flex-basis: 36%;
}

.askhem .npc .critical-injuries .critical-injury .permanent {
    flex-basis: 5%;
}

.askhem .npc .critical-injuries .critical-injury .button {
    flex-basis: 5%;
}

.askhem .npc .weapons .scrollable {
    overflow-y: auto;
    height: fit-content;
    
}

.askhem .npc .weapons .weapon.item:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.askhem .npc .weapons .weapon.item:nth-child(even) {
    background-color: #d6c9c2;
}

.askhem .npc .weapons .weapon.item:nth-child(odd) {
    background-color: #ebe4e0;
}

.askhem .npc .weapons .weapon .name {
    flex-basis: 55%;
}

.askhem .npc .weapons .weapon .damage {
    flex-basis: 20%;
}

.askhem .npc .weapons .weapon .range {
    flex-basis: 20%;
}

.askhem .npc .weapons .weapon .bonus {
    flex-basis: 15%;
}

.askhem .npc .armors .scrollable {
    overflow-y: auto;
    height: fit-content;
    
}

.askhem .npc .armors .armor.item:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.askhem .npc .armors .armor.item:nth-child(even) {
    background-color: #d6c9c2;
}

.askhem .npc .armors .armor.item:nth-child(odd) {
    background-color: #ebe4e0;
}

.askhem .npc .armors .armor .icon,
.askhem .npc .gears .gear .icon,
.askhem .npc .weapons .weapon .icon  {
    flex-basis: 10%;
}

.askhem .npc .weapons .weapon img.icon,
.askhem .npc .armors .armor img.icon {
    border: 0;
    cursor: pointer;
}


.askhem .npc .armors .armor .name,
.askhem .npc .gears .gear .name {
    flex-basis: 70%;
}

.askhem .npc .armors .armor .protection {
    flex-basis: 20%;
}

.askhem .npc .armors .armor .agility {
    flex-basis: 20%;
}

.askhem .npc .armors .armor .button,
.askhem .npc .gears .gear .button,
.askhem .npc .weapons .weapon .button  {
    flex-basis: 20%;
}