.askhem .player .talents .scrollable,
.askhem .player .relationships .scrollable {
    overflow-y: auto;
    height: 501px;
    max-height: 501px;
}

.askhem .player .relationships{
    flex-basis: 45%;
}

.askhem .player .notepad{
    flex-basis: 55%;
}
.askhem .player .relationships .relationship.item{
    line-height: 25px;
}

.askhem .player .talents .talent.item:hover,
.askhem .player .relationships .relationship.item:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.askhem .player .talents .talent.item:nth-child(even),
.askhem .player .relationships .relationship.item:nth-child(even) {
    background-color: #d6c9c2;
}

.askhem .player .talents .talent.item:nth-child(odd),
.askhem .player .relationships .relationship.item:nth-child(odd) {
    background-color: #ebe4e0;
}

.askhem .player .talents .talent .icon {
    flex-basis: 9%;
}

.askhem .player .talents .talent img.icon {
    border: 0;
}

.askhem .player .talents .talent .name,
.askhem .player .relationships .relationship .name {
    flex-basis: 20%;
}

.askhem .player .talents .talent .description,
.askhem .player .relationships .relationship .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 65%;
}

.askhem .player .talents .talent .button, 
.askhem .player .relationships .relationship .button  {
    flex-basis: 25%;
}

.askhem .player a.item-control.fav-togle {
    display: inline-block;
    cursor: pointer;
}

