.askhem .player .gears .scrollable {
    overflow-y: auto;
    min-height: 100px;
    max-height: 501px;
}

.askhem .player .gears .gear.item:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.askhem .player .gears .gear.item:nth-child(even) {
    background-color: #d6c9c2;
}

.askhem .player .gears .gear.item:nth-child(odd) {
    background-color: #ebe4e0;
}

.askhem .player .gears .gear .icon {
    flex-basis: 9%;
}

.askhem .player .gears .gear img.icon {
    border: 0;
}

.askhem .player .gears .gear .name {
    flex-basis: 31%;
}

.askhem .player .gears .gear .bonus {
    flex-basis: 15%;
}

.askhem .player .gears .gear .effect {
    flex-basis: 40%;
}

.askhem .player .gears .gear .button {
    flex-basis: 20%;
}
.askhem .player a.item-control.fav-togle {
    display: inline-block;
    cursor: pointer;
}