.askhem .npc {
    height: 100%;
    width: 100%;
}

.askhem .npc .right{
    max-width: 315px;
}

.askhem .npc .armors .heading,
.askhem .npc .weapons .heading,
.askhem .npc .gears .heading,
.askhem .npc .magics .heading{
    font-size: .8em;
    justify-content: space-between;
}

.askhem .npc .left{
    width: 100%;
}
.askhem .npc .header .profile-img {
    border: none;
    border-radius: 10px;
    align-self: center;
}

.askhem .npc .header .name {
    margin-bottom: 5px;
}

.askhem .npc .header .physical {
    margin-bottom: 5px;
}

.askhem .npc .header .physical input {
    flex-basis: 25%;
}

.askhem .npc .header .mental {
    margin-bottom: 5px;
}

.askhem .npc .header .mental input {
    flex-basis: 25%;
}